.whiteCard{
    background-color: white;
}

.yellowCard {
    background-color: yellow;
}

.redCard {
    background-color: red;
}

.blueCard {
    background-color: blue;
}

.greenCard {
    background-color: green;
}

.card{
    position: relative;
    display: flex;
    width: 50px;
    height: 50px;
    border: solid 1px black;
    align-items: center;
}

.card>.trueCard{
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    display: flex;
    box-sizing: border-box;
}